
header{
    color: white;
    
    background-color: black;
    
    margin: auto;
    padding: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    background-size:cover;
    height: 25vh;
    
    
    
    
    
    
}
header img{
    vertical-align: top;
    border: auto;
    outline: auto;
    
    float: left;
}


header span{
    position:relative; 
    top: 10px;
    text-align: center;
    font-size: 50px;
    
}

nav{
    display: block;
    background-color: gray;
    clear: left;
    
    
}

nav a{
    word-spacing: normal;
    color: white;
    margin: auto;
    
    padding: 25px 25px;
    text-decoration: none;
    font-size: 25px;
    
    
    
}
body{
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

body h1{
    color: brown;
}


.small {
    line-height: 0.7;
}

.big {
    line-height: 2.8;
}